/* ===========================
   Base
   =========================== */

@import "compass/css3";

@mixin transition {
    @include transition-property(all);

    @include transition-duration(0.5s);

    @include transition-timing-function(ease);
}

@mixin backgrounds {
    @include background-size(cover);

    background-position: center;
}

@mixin projectBg {
    @include background-size(cover);

    background-position: center;
}

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3000;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #fff url(../img/heart.gif) no-repeat center center;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.right {
    float: right;
    width: 53vw;
    overflow: auto;
    height: 100vh;

    @include breakpoint(tablet) {
        width: 90%;
        float: none;
        padding: 6% 5% 5% 5%;
        overflow: hidden;
        height: initial;
    }


    img {
        max-width: 100%;

        @include breakpoint(tablet) {
            text-align: center;
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding: 0.5em 0 0 0;
            float: initial !important;
        }

        // &:nth-child(odd) {
        //     float: left;
        //     padding-left: 0;
        // }

        // &:nth-child(even) {
        //     float: right;
        //     padding-right: 0;
        // }
    }
}

.mobileHide {
    @include breakpoint(tablet) {
        display: none;
    }
}

.type {
    max-width: 650px;
    margin: auto;

    @include breakpoint(mintablet) {
        padding: 4em 2em 4em 2em;
    }
}

.align_left {
    float: left;
}

.align_right {
    float: right;
}