/* ===========================
   Base
   =========================== */

@import "compass/css3";

@mixin transition {
    @include transition-property(all);

    @include transition-duration(0.5s);

    @include transition-timing-function(ease);
}

@mixin backgrounds {
    @include background-size(cover);

    background-position: center;
}

@mixin projectBg {
    @include background-size(cover);

    background-position: center;
}

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3000;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #fff url(../img/heart.gif) no-repeat center center;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.right {
    float: right;
    width: 53vw;
    overflow: auto;
    height: 100vh;
    

    @include breakpoint(tablet) {
        width: 90%;
        float: none;
        padding: 6% 5% 5% 5%;
        overflow: hidden;
        height: initial;
    }
    figcaption {
        width: 126%;

        margin: -10px 0 4% -15%;
        color: grey;

        background: #f9f9f9;
        border: solid 1px #eee;

        font-size: 0.9em;
        padding: 2%;
        font-style: italic;

        @include breakpoint(tablet) {
             width: 116%;
             margin-left: -10%;
        }

        @include breakpoint(mobileonly) {
             width: 100%;
             margin-left: -4%;
             margin-top: -8px;
        }
    }
    img {
        width: 130%;
        margin-left: -15%;
        margin-bottom: 0.2em;
        border: 1px solid #E2E2E2;

        @include breakpoint(tablet) {
            width: 120%;
            text-align: center;
            display: block;
            margin-left: -10%;
            margin-right: auto;
            // padding: 0.5em 0 0 0;
            float: initial !important;
        }

        // &:nth-child(odd) {
        //     float: left;
        //     padding-left: 0;
        // }

        // &:nth-child(even) {
        //     float: right;
        //     padding-right: 0;
        // }
    }
}

.mobileHide {
    @include breakpoint(tablet) {
        display: none;
    }
}

.type {
    max-width: 650px;
    margin: auto;
    padding: 4em 2em 4em 2em;

    @include breakpoint(tablet) {
        padding: 1em 2em 4em 2em;
    }

    @include breakpoint(mobileonly) {
        padding: 1em 0 1em 0;
    }
}

.align_left {
    float: left;
}

.align_right {
    float: right;
}