@import "compass/css3";

@mixin transition {
    @include transition-property(all);
    @include transition-duration(0.5s);
    @include transition-timing-function(ease);
}

@mixin backgrounds {
   @include background-size(cover);
   @include background-size(100%);
   background-position: center;
}

#left {
  width: 45%;
  overflow-y: auto;
  height: 100%;
  position: fixed;
  &::-webkit-scrollbar {
    display: none;
  }
}

.featureImg {
    height: 31%;
    display: block;
    overflow: hidden;
    position: relative;
    @include transition;

    figcaption {
      position: absolute;
      background: rgba(0, 0, 0, 0.5);
      color: white;
      padding: 2.5%;
      width: 95%;
      font-family: "Source Sans Pro", sans-serif;
      text-transform: none;
      opacity: 0;
      left: 0;
      bottom: -10%;
      @include transition;
    }

    &:nth-child(1) {
      background: url(http://www.lorempixel.com/800/1000/cats) no-repeat;
      @include backgrounds;
    }
    &:nth-child(2) {
      background: url(http://www.lorempixel.com/900/1100/cats) no-repeat;
      @include backgrounds;
    }
    &:nth-child(3) {
      background: url(http://www.lorempixel.com/500/900/cats) no-repeat;
      @include backgrounds;
    }
    &:nth-child(4) {
      background: url(http://www.lorempixel.com/600/700/cats) no-repeat;
      @include backgrounds;
    }

    &:hover {
      @include background-size(105%);
      
      figcaption {
        opacity: 1;
        bottom: 0;

        h4 {
          margin-bottom: 0.3em;
          color: #fff;
          font-family: georgia, serif;
        }

      }
    }
  }

.projectImg {
  @extend #left;
}

/*links*/

.content a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 2px solid red;
}

a:hover {
  color: red;
  @include transition;
}

.projects a {
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  &:hover {
    @extend a:hover;    
  }
}