#hideScroll {
  width: -webkit-calc(45vw - 16px);
  width: -moz-calc(45vw - 16px);
  width: calc(45vw - 16px);
  overflow: hidden;
  float: left;
  height: 100vh;

  @include breakpoint(tablet) {
      width: 100vw;
  }
}

$left-width: 45vw;

.left {
    @include breakpoint(tablet) {
        width: 100vw;
    }
    width: $left-width;
    overflow: auto;

    // position: fixed;
    float: left;
    height: 100vh;
    color: white;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
    }

    a {
        color: white;
    }
}

.featureImg {
    height: 31%;
    display: block;
    overflow: hidden;
    position: relative;

    @include transition;

    figcaption {
        position: absolute;
        background: rgba(0, 0, 0, 0.5);
        padding: 2.5%;
        text-transform: none;
        opacity: 0;
        left: 0;
        bottom: -10%;

        @include breakpoint(tablet) {
            bottom: 0;
            opacity: 1;
            width: 100%;
        }


        @include breakpoint(mobileonly) {
            padding-top: 1%;
        }


        @include transition;
    }

    span {
        @include breakpoint(mobileonly) {
            display: none;
        }
    }

    &:nth-child(1) {
        background: image-url("cat1.jpg") no-repeat;

        @include backgrounds;
    }

    &:nth-child(2) {
        background: image-url("cat2.jpg") no-repeat;

        @include backgrounds;
    }

    &:nth-child(3) {
        background: image-url("cat3.jpg") no-repeat;

        @include backgrounds;
    }

    &:nth-child(4) {
        background: image-url("cat4.jpg") no-repeat;

        @include backgrounds;
    }

    &:hover {
        @include background-size(105%);

        color: white;

        figcaption {
            opacity: 1;
            bottom: 0;
        }
    }
}