/*buttons*/

.buttonset > button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  padding: 15px;
}

button.full-width {
  display: block;
  width: 100%;
  height: 7%;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: black;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
  color: #fff;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#left button:hover {
  background-color: red;
}

/*menu button*/
/* btn */

.menu {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  span {
    margin: 0 auto;
    position: relative;
    top: 12px;
    &:before, &:after {
      position: absolute;
      content: "";
    }
    width: 30px;
    height: 6px;
    background-color: #000;
    display: block;
    &:before, &:after {
      width: 30px;
      height: 6px;
      background-color: #000;
      display: block;
    }
    &:before {
      margin-top: -12px;
    }
    &:after {
      margin-top: 12px;
    }
  }
}

/* example 5 */

.example5 {
  span {
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }
  &.open span {
    background-color: rgba(0, 0, 0, 0);
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }
  span:before {
    -moz-transition-property: margin, -moz-transform;
    -o-transition-property: margin, -o-transform;
    -webkit-transition-property: margin, -webkit-transform;
    transition-property: margin, transform;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -moz-transition-delay: 0.2s, 0;
    -o-transition-delay: 0.2s, 0;
    -webkit-transition-delay: 0.2s, 0;
    transition-delay: 0.2s, 0;
  }
  &.open span:before {
    margin-top: 0;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -moz-transition-delay: 0, 0.2s;
    -o-transition-delay: 0, 0.2s;
    -webkit-transition-delay: 0, 0.2s;
    transition-delay: 0, 0.2s;
  }
  span:after {
    -moz-transition-property: margin, -moz-transform;
    -o-transition-property: margin, -o-transform;
    -webkit-transition-property: margin, -webkit-transform;
    transition-property: margin, transform;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -moz-transition-delay: 0.2s, 0;
    -o-transition-delay: 0.2s, 0;
    -webkit-transition-delay: 0.2s, 0;
    transition-delay: 0.2s, 0;
  }
  &.open span:after {
    margin-top: 0;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -moz-transition-delay: 0, 0.2s;
    -o-transition-delay: 0, 0.2s;
    -webkit-transition-delay: 0, 0.2s;
    transition-delay: 0, 0.2s;
  }
}

/* General styles for all menus */

.main {
  position: fixed;
  z-index: 2000;
  margin: auto;
  width: 100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity = 100);
  opacity: 1;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav-up {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity = 0);
  opacity: 0;
}

.main > section button.disabled {
  background: #aaa;
  pointer-events: none;
}

.cbp-spmenu {
  background: #fafafa;
  position: fixed;
  overflow: auto;
  font-family: "Source Sans Pro", sans-serif;
  &::-webkit-scrollbar {
    display: none;
  }
  img {
    width: 100%;
  }
  p {
    padding: 20px;
  }
  h3 {
    color: #000;
    font-size: 1.9em;
    padding: 20px 20px 0 20px;
    margin: 0;
    font-weight: bold;
    border-bottom: 5px solid red;
    font-family: serif;
  }
  a {
    display: block;
    color: #000;
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: none;
    &:hover {
      -moz-transition: none;
      -o-transition: none;
      -webkit-transition: none;
      transition: none;
      -moz-transition: color 0 ease-in;
      -o-transition: color 0 ease-in;
      -webkit-transition: color 0 ease-in;
      transition: color 0 ease-in;
      background: red;
      color: #fff;
    }
    &:active {
      background: red;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
      filter: alpha(opacity = 80);
      opacity: 0.8;
      color: #fff;
    }
  }
}

/* Orientation-dependent styles for the content of the menu */

$menu-width: 15rem;

.cbp-spmenu-vertical {
  width: $menu-width;
  height: 100%;
  top: 0;
  z-index: 1000;
  a {
    /*border-bottom: 1px solid red;*/
    text-transform: uppercase;
    font-weight: bold;
    padding: 1em;
  }
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
  left: -$menu-width;
}

.cbp-spmenu-right {
  right: -$menu-width;
}

.cbp-spmenu-left.cbp-spmenu-open {
  left: 0;
}

.cbp-spmenu-right.cbp-spmenu-open {
  right: 0;
}

/* Push classes applied to the body */

.cbp-spmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

.cbp-spmenu-push-toright {
  left: $menu-width;
}

.cbp-spmenu-push-toleft {
  left: -$menu-width;
}

/* Transitions */

.cbp-spmenu, .cbp-spmenu-push {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* Example media queries */

@media screen and (max-height: 26.375em) {
  .cbp-spmenu-vertical {
    font-size: 90%;
    width: 190px;
  }
  .cbp-spmenu-left, .cbp-spmenu-push-toleft {
    left: -190px;
  }
  .cbp-spmenu-right {
    right: -190px;
  }
}