@font-face {
    font-family: 'roboto_slabregular';
    src: url("../fonts/RobotoSlab-Regular-webfont.eot");
    src: url("../fonts/RobotoSlab-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoSlab-Regular-webfont.woff") format("woff"), url("../fonts/RobotoSlab-Regular-webfont.ttf") format("truetype"), url("../fonts/RobotoSlab-Regular-webfont.svg#roboto_slabregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

// @font-face {
//     font-family: 'source_sans_proregular';
//     src: url("../fonts/sourcesanspro-regular-webfont.eot");
//     src: url("../fonts/sourcesanspro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-regular-webfont.woff2") format("woff2"), url("../fonts/sourcesanspro-regular-webfont.woff") format("woff"), url("../fonts/sourcesanspro-regular-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular") format("svg");
//     font-weight: normal;
//     font-style: normal;
// }

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

body,
input,
button {
    -webkit-font-smoothing: antialiased;
}

html {
    font: 110%/1.5 'Source Sans Pro', sans-serif;
    color: #262626;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'roboto_slabregular', serif;
    margin: 0 0 0.1em 0;
}

.right {
    h1, h2, h3, h4, h5, h6 {
        margin: 1em 0 0.3em 0;
    }

    h1:first-child {
        margin-top: 0;
    }
}

.left, .leftmenu {
    h1 {
        font-size: 3em;

        @include breakpoint(mobileonly) {
            font-size: 2em;
        }
    }

    h6, h3 {
        text-transform: uppercase;
        font-family: "Source Sans Pro", sans-serif;
    }

    h6 {
        font-size: 0.8rem;
        letter-spacing: 0.1rem;

        @include breakpoint(mobileonly) {
            font-size: 0.7rem;
            letter-spacing: 0.1em;
        }
    }

    h3 {
        font-size: 1rem;
        letter-spacing: 0.1rem;
    }
}

h1 {
    font-size: 2em;

    /* 2*16 = 32 */
}

h2 {
    font-size: 1.5em;

    /* 1.5*16 = 24 */
    @include breakpoint(mobileonly) {
        font-size: 1.2em;
    }
}

h3 {
    font-size: 1.17em;

    /* 1.17*16 = 18.72 */
}

h4 {
    font-size: 1em;

    /* 1*16 = 16 */
}

h5 {
    font-size: 0.83em;

    /* 0.83*16 = 13.28 */
}

h6 {
    font-size: 0.75em;

    /* 0.75*16 = 12 */
}

p {
    line-height: 1.5;
    margin: 0 0 1em;

    /* Non standard for webkit */
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;

    // text-indent: 2em;
}

p:first-child {
    text-indent: 2em;
}

.box {
    display: block;
    background: #f9f9f9;
    border: solid 1px #eee;
    padding: 0 1.5em 1em 1.5em;
    margin-bottom: 1em;
}

code,
pre {
    font-family: monospace, serif;
    font-size: 1em;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid red;
    margin: 1em 0;
    padding: 1em 2em;
}

blockquote:before {
    color: red;
    font-family: georgia;
    content: "\201C";
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}