body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

body,
input,
button {
    -webkit-font-smoothing: antialiased;
}

html {
    font: 120%/1.5 "Source Sans Pro", sans-serif;
    color: #262626;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
    margin: 0 0 0.1em 0;
}

.left, .leftmenu {
    h1 {
        font-size: 3em;

        @include breakpoint(mobileonly) {
            font-size: 2em;
        }
    }

    h6, h3 {
        text-transform: uppercase;
        font-family: "Source Sans Pro", sans-serif;
    }

    h6 {
        font-size: 0.8rem;
        letter-spacing: 0.1rem;

        @include breakpoint(mobileonly) {
            font-size: 0.7rem;
            letter-spacing: 0.1em;
        }
    }

    h3 {
        font-size: 1rem;
        letter-spacing: 0.1rem;
    }
}

h1 {
    font-size: 2em;

    /* 2*16 = 32 */
}

h2 {
    font-size: 1.5em;

    /* 1.5*16 = 24 */
    @include breakpoint(mobileonly) {
        font-size: 1.2em;
    }
}

h3 {
    font-size: 1.17em;

    /* 1.17*16 = 18.72 */
}

h4 {
    font-size: 1em;

    /* 1*16 = 16 */
}

h5 {
    font-size: 0.83em;

    /* 0.83*16 = 13.28 */
}

h6 {
    font-size: 0.75em;

    /* 0.75*16 = 12 */
}

p {
    line-height: 1.5;
    margin: 0 0 1em;
    word-break: break-all;

    /* Non standard for webkit */
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;

    // text-indent: 2em;
}

p:first-child {
    text-indent: 2em;
}

code,
pre {
    font-family: monospace, serif;
    font-size: 1em;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid red;
    margin: 1.5em 10px;
    padding: 2em;
    quotes: "ÔÇ£" "ÔÇØ" "ÔÇÿ" "ÔÇÖ";
}

blockquote:before {
    color: red;
    font-family: georgia;
    content: "\201C";
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}

@media print {
    * {
        background: transparent !important;
        color: #000 !important;

        /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;

        /* http://css-tricks.com/almanac/properties/o/orphans/ */
        widows: 3;

        /* http://css-tricks.com/almanac/properties/w/widows/ */
        page-break-after: avoid;
    }
}